nav {
  height: 120px;
  width: 100%;
  background-color: #db9535;
  background-image: url(http://www.transparenttextures.com/patterns/back-pattern.png);
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position:relative;
}

.nav-bar {
  overflow: hidden;

  top: 0;
  width: 100%;
  
}

.logo {
  font-family: 'Bungee', cursive;
  padding: 1.5em;
 
 }

 span { 
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1.5em;

 }

.fa-angle-double-down {
  color: red;

}

